extends layout

block content

  div.row.marketing
    
    div.col-lg-12
      h6= "Sorry. The group you are looking for is cancelled."
    div.col-lg-12
      a.nav-link.active(href="/") Home
          
    div.col-lg-12
      a.nav-link.active(href="/groups/new") Start a new Group