doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title="Riceballs - " + title
    link(rel='icon' href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/slip.css')
    link(rel='stylesheet', href='/public/bootstrap/css/bootstrap.min.css')
    script(src="/public/jquery/jquery.min.js")
    script(src="/public/popper/umd/popper.min.js")
    script(src="/public/easy-autocomplete/jquery.easy-autocomplete.min.js")
    link(rel="stylesheet" href="/public/easy-autocomplete/easy-autocomplete.min.css")
    script(src="/public/bootstrap/js/bootstrap.min.js")
    script(src="/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")
    link(rel='stylesheet', href='/stylesheets/narrow-jumbotron.css')
    link(rel='stylesheet', href='/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/public/jquery-datetimepicker/jquery.datetimepicker.min.css')
    script(src="/public/jquery-mousewheel/jquery.mousewheel.js")
    script(src="/public/jquery-datetimepicker/jquery.datetimepicker.full.min.js")
    //script(src="/javascripts/webpush.js")
    link(rel='stylesheet', href='/stylesheets/toggle-switch.css')
    //link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      div.header.clearfix
        nav
          ul.nav.nav-pills.float-right
            if typeof user != 'undefined'
              li.nav-item
                a.nav-link.active(href="/user/me") MyGroups
                  span.sr-only= (current)
              //li.nav-item
                a.nav-link(href="/user/" + user.name + "/settings") Settings
              li.nav-item
                a.nav-link.pl-2.pr-1(href="/logout") Logout
            else
              li.nav-item
                a.nav-link(href="/login") Login
        h3.text-muted
          a.text-muted(href="/")
            img(border="0" alt="Rewatch Groups" src="/images/favicon.ico" width="64" height="64")
      
      block content
      
      button.btn.btn-sm.float-right(onclick="topFunction()" id="myBtn" title="Go to top") Top
      
    if typeof user != 'undefined'
      script.
        var username="#{user.name}";
    script(src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js")
    script.
    
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCPwXDuqKHQNBBfSCRxLVZgB51Kb1L3780",
        authDomain: "api-project-86698823.firebaseapp.com",
        databaseURL: "https://api-project-86698823.firebaseio.com",
        projectId: "api-project-86698823",
        storageBucket: "",
        messagingSenderId: "554272978685"
      };
      firebase.initializeApp(config);
      
      firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
        alert("[idToken]" + idToken);
      }).catch(function(error) {
        // Handle error
      });

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      }